@model Capa_Entidad.Proc_listarMascotaPorid_Mascota_Result

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Veterinaria Manatí</title>
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style_menu.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxs-dog'></i>
            <span class="logo_name">Veterinaria</span>
        </div>
        @if (User.Identity.IsAuthenticated)
        {

            if (Session["Rol"].ToString() == "1" && Session["Rol"].ToString() != null)
            {
                <ul class="nav-links">
                    <li>
                        <a href="/Home">
                            <i class='bx bx-home'></i>
                            <span class="link_name">Home</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="/Home">Home</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link">
                            <a href="#">
                                <i class='bx bxs-calendar'></i>
                                <span class="link_name">Cita</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a href="/Cita/Citas">Ver Citas</a></li>
                            <li><a href="/Cita_Usuario/">Ver Cita-Usuarios</a></li>
                            <li><a href="/Cita/">Procesar Citas</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link">
                            <a href="#">
                                <i class='bx bxs-dog'></i>
                                <span class="link_name">Mascota</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a href="/Mascota/Mascotas">Ver Mascotas</a></li>
                            <li><a href="/Mascota_Usuario/">Ver Mascota-Usuarios</a></li>
                            <li><a href="/RazaMascota/Razas">Ver Raza de Mascotas</a></li>
                            <li><a href="/TipoMascota/Tipos">Ver Tipo de Mascotas</a></li>
                            <li><a href="/Consejo/Consejos">Ver Consejos</a></li>
                            <li><a href="/Servicio/Servicios">Ver Servicios</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Chat/">
                            <i class='bx bxs-user-circle'></i>
                            <span class="link_name">Chat</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="/Chat/">Chat</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link">
                            <a href="#">
                                <i class='bx bxs-user-account'></i>
                                <span class="link_name">Cuenta</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a href="/Account/Perfil">Perfil</a></li>
                            <li><a href="/Account/Usuarios">Usuarios</a></li>
                            <li><a href="/Admin/Admins">Administración</a></li>
                            <li><a href="/Rol_Usuario/">Rol de Usuarios</a></li>
                        </ul>
                    </li>

                    <li>
                        <div class="profile-details">
                            <div class="profile-content">
                                <!--<img src="image/profile.jpg" alt="profileImg">-->
                            </div>
                            <div class="name-job">
                                <div class="profile_name" id="name"></div>
                                <div class="job" id="rol"></div>
                            </div>
                            <a href="/Account/Logout">
                                <i class='bx bx-log-out'></i>
                            </a>
                        </div>
                    </li>
                </ul>
            }
            else if (Session["Rol"].ToString() == "2" && Session["Rol"].ToString() != null)
            {
                <ul class="nav-links">
                    <li>
                        <a href="/Home">
                            <i class='bx bx-home'></i>
                            <span class="link_name">Home</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="/Home">Home</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link">
                            <a href="#">
                                <i class='bx bxs-calendar'></i>
                                <span class="link_name">Cita</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a href="/Cita/Create">Gestionar Cita</a></li>
                            <li><a href="/Cita/">Ver Cita</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Mascota/Create">
                            <i class='bx bxs-dog'></i>
                            <span class="link_name">Mascota</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="/Mascota/Create">Mascota</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Chat/">
                            <i class='bx bxs-user-circle'></i>
                            <span class="link_name">Chat</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="/Chat/">Chat</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Account/Perfil">
                            <i class='bx bxs-user-account'></i>
                            <span class="link_name">Perfil</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="/Account/Perfil">Perfil</a></li>
                        </ul>
                    </li>

                    <li>
                        <div class="profile-details">
                            <div class="profile-content">
                                <!--<img src="image/profile.jpg" alt="profileImg">-->
                            </div>
                            <div class="name-job">
                                <div class="profile_name" id="name"></div>
                                <div class="job" id="rol"></div>
                            </div>
                            <a href="/Account/Logout">
                                <i class='bx bx-log-out'></i>
                            </a>
                        </div>
                    </li>
                </ul>
            }
        }
        else
        {
            <ul class="nav-links">
                <li>
                    <a href="/Home">
                        <i class='bx bx-home'></i>
                        <span class="link_name">Home</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="/Home">Home</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Home">
                        <i class='bx bxs-calendar'></i>
                        <span class="link_name">Cita</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="/Cita/Create">Cita</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Home">
                        <i class='bx bxs-dog'></i>
                        <span class="link_name">Mascota</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="/Mascota/Create">Mascota</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Home">
                        <i class='bx bxs-user-circle'></i>
                        <span class="link_name">Chat</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="/Chat/">Chat</a></li>
                    </ul>
                </li>
                <li>
                    <div class="iocn-link">
                        <a href="#">
                            <i class='bx bxs-user-account'></i>
                            <span class="link_name">Cuenta</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a href="/Account/Login">Iniciar Sesión</a></li>
                        <li><a href="/Account/Create">Registrarse</a></li>
                    </ul>
                </li>

            </ul>
        }
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <div class="container" style="margin-top: 500px">
                <div class="row vh-100 m-0 justify-content-center align-items-center">
                    <div class="col-md-10 col-auto">
                        @Html.Partial("_Notifications")
                        <h2 style="text-align: center">Actualizar Mascota</h2>
                        @using (Html.BeginForm("Edit", "Mascota", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Id Tipo</label>
                                            @Html.EditorFor(model => model.id_Mascota, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Id Mascota", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.id_Mascota, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>Nombre Mascota</label>
                                            @Html.EditorFor(model => model.nombre_Completo, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Nombre Mascota", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.nombre_Completo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>Sexo</label>
                                            @Html.EditorFor(model => model.sexo, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Sexo", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.sexo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Peso</label>
                                            @Html.EditorFor(model => model.peso, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Peso", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.peso, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>Imagen</label>
                                            <img src="@Url.Action("getUnaImage", "Mascota", new { id=Model.id_Mascota })" width="70" height="70" style="display: none" />
                                            <input type="file" class="form-control" name="imageLoad" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Fecha Ingreso</label>
                                            <input type="date" name="fecha_Ingreso" class="form-control" value="@Model.fecha_Ingreso" required />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="d-grid gap-2 col-4 mx-auto">
                                        <input type="submit" class="btn btn-primary" value="Actualizar" />
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>

    <script>

        $(document).ready(function () {
            listarNombreUsuario();
            obtenerRolUsuario();
        });

        function listarNombreUsuario() {

            $.ajax({
                type: "GET",
                url: "/Account/listarid_UsuarioPorEmail",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                cache: false,

                success: function (data) {

                    $.ajax({
                        type: "POST",
                        url: "/Account/listarNombre_CompletoPorid_Usuario",
                        traditional: true,
                        data: { "id": data },

                        success: function (data) {
                            $("#name").text(data);
                        },

                        error: function (error) {
                            alert("Ha ocurrido un error: " + error);
                        }
                    });

                },

                error: function (error) {
                    alert("Ha ocurrido un error: " + error);
                }
            });

        }

        function obtenerRolUsuario() {

            $.ajax({
                type: "GET",
                url: "/Account/listarid_UsuarioPorEmail",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                cache: false,

                success: function (data) {

                    $.ajax({
                        type: "POST",
                        url: "/Account/listarid_RolPorid_Usuario",
                        traditional: true,
                        data: { "id": data },

                        success: function (data) {

                            let rol = "";
                            if (data == 1) {
                                rol += "Administrador";
                            } else if (data == 2) {
                                rol += "Usuario";
                            }

                            $("#rol").text(rol);
                        },

                        error: function (error) {
                            alert("Ha ocurrido un error: " + error);
                        }
                    });

                },

                error: function (error) {
                    alert("Ha ocurrido un error: " + error);
                }
            });

        }

        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
